.homepage-container{
  margin: auto;
  width: 100%;
  border: 1px solid black;
}
.navigation{
  background-image: url('../../assets/wrapper6.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}
